* {
	margin: 0;
	padding: 0;
	font-weight: 100;
	scroll-behavior: smooth;
}
/* EJEMPLO PREENTREGA */

body{
	font-family: 'Wix Madefor Display', sans-serif;
	background-color: #e0dbd3cb;
}

h1{
	font-size: 24px;
	color: #000000;
}

p {
	font-family: Oswald , sans-serif;
	font-size: 16px;
	line-height: 1.5;
	color: #666;
}

a {
	color: #000000;
	font-family: 'Inter', sans-serif;
	font-weight: 500;
	text-decoration: none;
	font-size: 15px;
	line-height: 30px;
	padding: 20px;
}

a:hover {
	transition: color 0.3s ease-in-out;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
	color: #ff0000;
}

#logo {
	width:150px;
	height: 150px;

}

.menu {
	display: flex;
	flex-wrap: wrap;
	box-sizing: border-box;
	align-items: center;
	justify-content: center;
	position: relative;
	background-color: #70757a;
	width: 100%;
	padding: 10px;
}



.mainmenu__inicio{
	width: 120px;
	height: 120px;
	background-color: #c5baba;
	border: 1px solid #968f8f;
	margin: 20px;
	padding: 20px;
	box-sizing: border-box;
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
}

.menu, .submenu {
	list-style: none;
}


